name: Ruff

on:
  pull_request:
  push:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
        with:
          src: .
          version: "0.8.6"
          args: format --check
      - uses: chartboost/ruff-action@v1
        with:
          src: .
          version: "0.8.6"
          args: check
